@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif  ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
  /* LIGHTMODE COLORS */
  --color-bg-primary: #232625;
  --color-bg-secondary: #171918;
  --color-bg-secondary-half: rgba(23, 25, 24, 0.5);
  --color-text: #ffffff;
  --color-primary: #1a73e8;
  --color-light-primary: #F6F5FF;
  --font-size-primary: 18px;
  --font-size-secondary: 16px;
  --font-size-tertiary: 14px;
  --icon-size-primary: 25px;
  --icon-size-secondary: 18px;
}

ul, li, button, a{
    text-decoration: none;
    border: none;
    background: none;
    list-style: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--color-bg-secondary);
}

header{
    width: 100%;
    height: 100%;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

/* LOADING ANIMATION  */
#loading-animation {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    z-index: 9999;
    transition: opacity 0.5s ease, visibility 0.5s;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #555;
    border-top: 5px solid #00bcd4;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.content.hidden {
    opacity: 0;
    visibility: hidden;
}

.content.show {
    opacity: 1;
    visibility: visible;
}

/* HIDE LOADING ANIMATION */
#loading-animation.hidden {
    opacity: 0;
    visibility: hidden;
}

/* SECTION HEADER  */
.section-nav {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    z-index: 9999;
}

.section-nav .download-cv {
    justify-content: center;
    text-align: center;
}

.section-title {
    font-size: 40px;
    color: var(--color-text);
    font-weight: 600;
}

.download-cv {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--color-bg-primary);
    color: var(--color-text);
    transition: all 0.2s ease;
}

.download-cv:hover {
    scale: 0.9;
    border: 1px solid var(--color-primary);
    box-shadow: 0px 0px 10px 0px var(--color-primary);
    transition: all 0.2s ease;
}

/* SIDE-NAV-CONTAINER */
.nav-container {
    width: 250px;
    height: 100%;
    display: flex;
    position: fixed;
    padding: 10px;
    justify-content: center;
    background-color: var(--color-bg-secondary);
    transition: all 0.2s ease-in-out;
    z-index: 9999;
}

.nav-container.compress {
    width: 100px;
    transition: all 0.2s ease-in-out;
}

.side-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
    background-color: var(--color-bg-secondary);
}

/* LOGO CONTAINER */
.logo-container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 50px;
    margin: 20px 0 20px 15px;
    white-space: nowrap;
}

.logo {
    width: 50px;
    height: 50px;
}

.profile-container {
    width: 50px;
    height: 50px;
    font-size: var(--font-size-primary);
    display: flex;
    align-items: center;
    left: 100px;
    position: fixed;
}

.profile-txt {
    font-size: var(--font-size-secondary);
    font-weight: 500;
    color: var(--color-light-primary);
    user-select: none;
}
 
/* ITEM CONTAINER */
.item-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-flow: column wrap;
    gap: 10px;
}

.side-title {
    width: 100%;
    height: 20px;
    font-size: var(--font-size-tertiary);
    font-weight: 400;
    color: gray;
    margin-left: 20px;
    cursor: default;
    transition: all 0.2s ease-in-out;
}

.side-item {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    border-radius: 10px;
    user-select: none;
}

.side-item:nth-child(5) {
    margin-bottom: 10px;
}

.side-link {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 25px;
    align-items: center;
    font-size: var(--font-size-primary);
}

.icon {
    font-size: var(--icon-size-primary);
    justify-content: center;
    color: gray;
}

.side-txt {
    color: gray;
    user-select: none;
    margin-left: 20px;
}

/* ACTIVE SIDE LINK  */

.side-link:hover, .side-link.active {
    background-color: var(--color-primary);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.side-link.active .icon, .side-link.active .side-txt{
    color: var(--color-text);
}

.side-link:hover .icon, .side-link:hover .side-txt{
    color: var(--color-text);
}

.side-link:visited {
    color: var(--color-text);
}

/* HIDE CONTACT ICON AND CONTENT IN WEB-VIEW */
.side-item:nth-child(6), .section-container:nth-child(7) {
    display: none;
}

/* TOGGLE BUTTONS */
.toggle-right, .toggle-left {
    cursor: pointer;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 55px;
    right: -15px;
    font-size: 25px;
    transform: translateY(-50%);
    border-radius: 10px;
    color: var(--color-bg-primary);
    background-color: var(--color-text);
    z-index: 1;
}

.toggle-left {
    visibility: visible;
    z-index: 3;
    transition: none;
}

.toggle-right {
    visibility: hidden;
}

.nav-container:hover .toggle-right{
    visibility: visible;
    z-index: 2;
}

/* NAVCONTAINER COMPRESS */
.nav-container.compress .side-txt {
    display: none;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

.nav-container.compress .profile-container{
    visibility: hidden;
}

.nav-container.compress .side-title {
    opacity: 0;
}

/* MAIN/INFO CONTAINER */
.main-container {
    width: calc(100% - 250px);
    height: 100%;
    left: 250px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.nav-container.compress ~ .main-container {
    width: calc(100% - 100px);
    left: 100px;
}

.bg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    gap: 50px;
}

@media only screen and (max-width:1200px) {
    /* LOADING ANIMATION  */
    #loading-animation {
        position: absolute;
        transition: opacity 0.5s ease, visibility 0.5s;
    }

    /* SECTION HEADER  */
    .section-title {
        font-size: 25px;
        color: var(--color-text);
        font-weight: 600;
    }

    .download-cv {
        width: 120px;
        height: 50px;
        display: flex;
        font-size: 12px;
        align-items: center;
        border-radius: 10px;
    }

    /* SIDE-NAV  */
    .nav-container {
        width: 100%;
        height: 75px;
        position: fixed;
        bottom: 0;
        transition: all 0.2s ease-in-out;
    }

    .nav-container.compress {
        width: 100%;
        transition: all 0.2s ease-in-out;
    }

    .logo-container, .profile-container, .side-title, .side-txt {
        display: none;
    }

    .toggle-right, .toggle-left {
        left: -500px;
    }

    .item-container {
        justify-content: center;
        align-items: center;
    }

    .side-item {
        width: 15%;
        padding: 0;
        gap: 0;
    }

    .side-item:nth-child(6), .side-item:nth-child(7),
    .side-item:nth-child(8), .side-item:nth-child(9),
    .side-item:nth-child(10), .side-item:nth-child(11) {
        display: none;
    }

    .side-item:nth-child(5) {
        margin-bottom: 0px;
    }

    .side-item:nth-child(6), .section-container:nth-child(7) {
        display: flex;
    }

    .side-link {
        padding-left: 0px;
        justify-content: center;
    }

    .nav-container:hover .toggle-right{
        visibility: hidden;
    }

    /* MAIN/INFO CONTAINER */
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }
    .main-container {
        width: 500px;
        height: 100%;
        left: 0;
        position: relative;
        transition: all 0.2s ease-in-out;
    }

    .nav-container.compress ~ .main-container {
        width: calc(100%);
        left: 0;
    }

    .info-container {
        width: 100%;
        height: 100%;
        color: var(--color-light-primary);
    }
}