.projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
    margin-left: 10px;
    gap: 40px;
}

.projects-block {
    width: 50%;
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    opacity: 0;
    gap: 20%;
    margin-top: 20px;
    justify-content: center;
}

.projects-block.show {
    animation: fadeSlideIn 0.2s linear forwards;
}

.projects-block.show:nth-child(2) {
    animation-delay: 0.4s;
}

.projects-block.show:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes fadeSlideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.project-img-container {
    width: 500px;
    height: 250px;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}

.project-name {
    font-size: 25px;
}

.project-txt-container {
    width: 70%;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
}

.project-txt {
    color: var(--text-color-primary);
}

.project-link {
    width: 100px;
    height: 40px;
    display: flex;
    background-color: var(--color-primary);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--text-color-primary);
    transition: all 0.1s ease-in-out;
}

.project-link:hover {
    transform: scale(0.95);
    box-shadow: 0px 0px 10px 0px var(--color-primary);
}

.tech-used-container {
    width: 100%;
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.tech-used {
    width: auto;
    height: 25px;
    display: flex;
    padding: 10px;
    background-color: var(--color-bg-secondary);
    font-size: 13px;
    align-items: center;
    border-radius: 5px;
}

@media only screen and (max-width:900px) {
    .projects {
        width: 100%;
        height: 100%;
        position: relative;
        margin-left: 0px;
        margin-top: -30px;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects-block {
        width: 300px;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        position: relative;
        justify-content: center;
    }

    .projects-block.show:nth-child(2) {
        animation-delay: 0.1s;
    }

    .projects-block.show:nth-child(3) {
        animation-delay: 0.2s;
    }

    .project-img-container {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        
    }

    .project-img {
        width: 100%;
        height: 150px;
        object-fit: fill;
        border-radius: 20px;
    }

    .project-txt-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        border-radius: 20px;
        padding-top: 0px;
    }

    .project-txt {
        text-align: justify;
    }

    .project-name {
        margin: 20px;
    }

    .tech-used-container {
        width: 100%;
        height: auto;
        justify-content: center;
        gap: 10px;
    }

    .project-img-container:hover {
        border: none;
        border-radius: 20px;
    }
}