.projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
    margin-left: 10px;
    gap: 20px;
}

.projects-block {
    width: 50%;
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    opacity: 0;
    gap: 20%;
    margin-top: 20px;
    justify-content: center;
}

.projects-block.show {
    animation: fadeSlideIn 0.2s linear forwards;
}

.projects-block.show:nth-child(2) {
    animation-delay: 0.4s;
}

.projects-block.show:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes fadeSlideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.project-img-container {
    width: 500px;
    height: 250px;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}

.project-txt-container {
    width: 70%;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    border-radius: 20px;
}

.project-txt {
    color: white;
}

.project-img-container:hover {
    border: 2px solid dodgerblue;
    border-radius: 20px;
}

@media only screen and (max-width:900px) {
    .projects {
        width: 100%;
        height: 100%;
        position: relative;
        margin-left: 0px;
        margin-top: -30px;
        gap: 10px;
    }

    .projects-block {
        width: 300px;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        position: relative;
        justify-content: center;
    }

    .project-link {
        width: 250px;
        height: 150px;
    }

    .project-img-container {
        width: 400px;
        height: 150px;
        display: flex;
        justify-content: center;
        
    }

    .project-img {
        width: 100%;
        object-fit: fill;
        border-radius: 20px;
    }

    .project-txt-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: justify;
        border-radius: 20px;
    }

    .project-name {
        margin: 20px;
    }

    .project-img-container:hover {
        border: none;
        border-radius: 20px;
    }
}